{% extends 'base.twig' %}

{% block pageContent %}

  <main class="content container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        {{ post.content }}
      </div>
    </div>
  </main>

{% endblock %}
