/**

Table of Contents:
---------------------
1. Colours
2. Typography

**/

// Colours
// ---------------------

$burnt-coral: #ed8a81;
$color-2022: #e9a800;
$electric-green: #00ffd3;
$color-highlight: $color-2022;
$color-contrast: #facee1;
$color-darkmode: #121212;
$color-grey-text: #ababab;
$white: #fff;

$color-list: (
  'white': #fff,
  'black': #000,
  'color-darkmode': $color-darkmode,
  'grey': $color-grey-text,
);

@each $key, $val in $color-list {
  body {
    .background--#{$key} {
      background-color: $val;
    }

    .has-#{$key}-background-color {
      background-color: $val;
    }

    .color--#{$key} {
      color: $val;
    }

    .has-#{$key}-color {
      color: $val;
    }
  }
}

// Typography
// ---------------------
